<div class="post">
  <div class="post-title">        
      <h3><%= post.title %></h3>
  </div>
  <div class="post-info">
      <p><%= post.text %></p>
      <div class="pull-right">
        <span>Comments: <%= post.commentsCounter %></span>,
        <span>Likes: <%= post.likesCounter %></span>
      </div>
  </div>
</div>